.techContainer {
  background: linear-gradient(135deg, #162b58, #020b1b, #301d01);
  /* background: radial-gradient(rgb(51, 38, 14),#75521c, #162b58); */
  position: relative;
  overflow: hidden;
  height: 120vh;
}

.techContainer .container {
  margin: 200px auto;
  width: 768px;
  transform: scale(0.6);
}

.sun {
  background: radial-gradient(rgb(248, 151, 5), #eba510, #f0c94a);
  box-shadow: 10px -10px 250px #ffee00;
  width: 10em;
  height: 10em;
  border-radius: 100%;
  margin: 105px auto;
  position: absolute;
  left: 0;
  right: 0;
}

.mercury {
  background: url("../../assets/Images/techs/js.png") no-repeat center;
  background-size: contain;
  background-size: 45px, 150px, auto;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-top: 40px;
}

.venus {
  background: url("../../assets/Images/techs/python.png") no-repeat center;
  background-size: contain;
  background-size: 70px, 150px, auto;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  margin-top: 50px;
}

.earth {
  background: url("../../assets/Images/techs/react.png") no-repeat center;
  background-size: contain;
  background-size: 70px, 150px, auto;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  margin-top: 95px;
}

.mars {
  background: url("../../assets/Images/techs/java.png") no-repeat center;
  background-size: contain;
  background-size: 60px, 100px, auto;
  /* background-color: #eee; */
  width: 75px;
  height: 75px;
  border-radius: 100%;
  margin-top: 130px;
}

.jupiter {
  background: url("../../assets/Images/techs/aws.png") no-repeat center;
  background-size: contain;
  background-size: 60px, 135px, auto;
  box-shadow: 5px 0px 195px #eee;
  background-color: #ffffff79;
  width: 85px;
  height: 85px;
  border-radius: 100%;
  margin-top: 155px;
}

.saturn {
  background: url("../../assets/Images/techs/docker.png") no-repeat center;
  background-size: contain;
  background-size: 90px, 150px, auto;
  box-shadow: 5px 0px 170px #93b8ee;
  background-color: #ffffff;
  width: 95px;
  height: 95px;
  border-radius: 100%;
  margin-top: 200px;
}

.uranus {
  background: url("../../assets/Images/techs/nodejs.png") no-repeat center;
  background-size: contain;
  background-size: 90px, 150px, auto;
  box-shadow: 5px 0px 180px #979796;
  background-color: #eeeeee90;
  width: 95px;
  height: 95px;
  border-radius: 100%;
  margin-top: 240px;
}

.neptune {
  background: url("../../assets/Images/techs/mongo.png") no-repeat center;
  background-size: contain;
  background-size: 90px, 165px, auto;
  box-shadow: 5px 0px 180px #eee;
  background-color: #eee;
  width: 95px;
  height: 95px;
  border-radius: 100%;
  margin-top: 270px;
}

.pluto {
  background: url("../../assets/Images/techs/ai.png") no-repeat center;
  background-size: contain;
  background-size: 80px, 150px, auto;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  margin-top: 350px;
}

[class*="-orbit"] {
  position: absolute;
  left: 0;
  right: 0;
  border: 1px solid #333;
  box-shadow: 0px 1px 1px #4096ee;
  border-radius: 100%;
}

.mercury-orbit {
  width: 260px;
  height: 260px;
  margin: 55px auto;
  -webkit-animation: gravity 0.60057s linear infinite;
  animation: gravity 1.90057s linear infinite;
  opacity: none;
}

.venus-orbit {
  width: 370px;
  height: 370px;
  margin: 5px auto;
  -webkit-animation: gravity 3.3365s linear infinite;
  animation: gravity 3.3365s linear infinite;
}

.earth-orbit {
  width: 490px;
  height: 490px;
  margin: -60px auto;
  -webkit-animation: gravity 6.673s linear infinite;
  animation: gravity 6.673s linear infinite;
}

.mars-orbit {
  width: 610px;
  height: 610px;
  margin: -120px auto;
  -webkit-animation: gravity 10.0095s linear infinite;
  animation: gravity 10.0095s linear infinite;
}

.jupiter-orbit {
  width: 740px;
  height: 740px;
  margin: -190px auto;
  -webkit-animation: gravity 13.346s linear infinite;
  animation: gravity 13.346s linear infinite;
}

.saturn-orbit {
  width: 870px;
  height: 870px;
  margin: -256px -51px;
  -webkit-animation: gravity 20.019s linear infinite;
  animation: gravity 20.019s linear infinite;
}

.uranus-orbit {
  width: 1000px;
  height: 1000px;
  margin: -325px -115px;
  -webkit-animation: gravity 26.692s linear infinite;
  animation: gravity 26.692s linear infinite;
}

.neptune-orbit {
  width: 1120px;
  height: 1120px;
  margin: -385px -175px;
  -webkit-animation: gravity 33.365s linear infinite;
  animation: gravity 33.365s linear infinite;
}

.pluto-orbit {
  width: 1250px;
  height: 1250px;
  margin: -450px auto;
  margin-left: -240px;
  -webkit-animation: gravity 40.038s linear infinite;
  animation: gravity 40.038s linear infinite;
}

.star-container {
  -webkit-animation: gravity 200s linear infinite;
  animation: gravity 200s linear infinite;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: -200px 0;
}

.star {
  background: #fff;
  border-radius: 100px;
  width: 1px;
  height: 1px;
  position: absolute;
  filter: brightness(5);
}

.star:nth-of-type(1) {
  margin-left: 3920px;
  margin-top: 371px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(2) {
  margin-left: 3235px;
  margin-top: 769px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(3) {
  margin-left: 3362px;
  margin-top: 478px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(4) {
  margin-left: 2195px;
  margin-top: 264px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(5) {
  margin-left: 3200px;
  margin-top: 807px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(6) {
  margin-left: 1100px;
  margin-top: 181px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(7) {
  margin-left: 2149px;
  margin-top: 166px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(8) {
  margin-left: 3400px;
  margin-top: 23px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(9) {
  margin-left: 2893px;
  margin-top: 244px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(10) {
  margin-left: 1480px;
  margin-top: 645px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(11) {
  margin-left: 391px;
  margin-top: 141px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(12) {
  margin-left: 313px;
  margin-top: 65px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(13) {
  margin-left: 1277px;
  margin-top: 868px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(14) {
  margin-left: 59px;
  margin-top: 173px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(15) {
  margin-left: 3802px;
  margin-top: 637px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(16) {
  margin-left: 154px;
  margin-top: 211px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(17) {
  margin-left: 1032px;
  margin-top: 81px;
  -webkit-animation: flash 5s linear infinite;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(18) {
  margin-left: 2903px;
  margin-top: 54px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(19) {
  margin-left: 1637px;
  margin-top: 659px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(20) {
  margin-left: 1567px;
  margin-top: 835px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(21) {
  margin-left: 3167px;
  margin-top: 870px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(22) {
  margin-left: 3502px;
  margin-top: 642px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(23) {
  margin-left: 3153px;
  margin-top: 360px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(24) {
  margin-left: 2797px;
  margin-top: 288px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(25) {
  margin-left: 2348px;
  margin-top: 758px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(26) {
  margin-left: 2535px;
  margin-top: 286px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(27) {
  margin-left: 2510px;
  margin-top: 845px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(28) {
  margin-left: 1597px;
  margin-top: 643px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(29) {
  margin-left: 1917px;
  margin-top: 402px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(30) {
  margin-left: 3351px;
  margin-top: 502px;
  -webkit-animation: flash 5s linear infinite;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(31) {
  margin-left: 1015px;
  margin-top: 192px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(32) {
  margin-left: 657px;
  margin-top: 588px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(33) {
  margin-left: 456px;
  margin-top: 891px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(34) {
  margin-left: 68px;
  margin-top: 320px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(35) {
  margin-left: 1570px;
  margin-top: 800px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(36) {
  margin-left: 1669px;
  margin-top: 477px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(37) {
  margin-left: 3620px;
  margin-top: 119px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(38) {
  margin-left: 987px;
  margin-top: 324px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(39) {
  margin-left: 1947px;
  margin-top: 482px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(40) {
  margin-left: 402px;
  margin-top: 193px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(41) {
  margin-left: 3788px;
  margin-top: 184px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(42) {
  margin-left: 2391px;
  margin-top: 634px;
  -webkit-animation: flash 5s linear infinite;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(43) {
  margin-left: 3706px;
  margin-top: 293px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(44) {
  margin-left: 2340px;
  margin-top: 360px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(45) {
  margin-left: 2210px;
  margin-top: 753px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(46) {
  margin-left: 998px;
  margin-top: 796px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(47) {
  margin-left: 2163px;
  margin-top: 354px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(48) {
  margin-left: 1901px;
  margin-top: 425px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(49) {
  margin-left: 3328px;
  margin-top: 874px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(50) {
  margin-left: 1485px;
  margin-top: 593px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(51) {
  margin-left: 2058px;
  margin-top: 22px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(52) {
  margin-left: 656px;
  margin-top: 196px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(53) {
  margin-left: 1049px;
  margin-top: 422px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(54) {
  margin-left: 2895px;
  margin-top: 68px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(55) {
  margin-left: 2677px;
  margin-top: 578px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(56) {
  margin-left: 3368px;
  margin-top: 361px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(57) {
  margin-left: 2788px;
  margin-top: 109px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(58) {
  margin-left: 454px;
  margin-top: 667px;
  -webkit-animation: flash 5s linear infinite;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(59) {
  margin-left: 2192px;
  margin-top: 727px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(60) {
  margin-left: 464px;
  margin-top: 359px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(61) {
  margin-left: 702px;
  margin-top: 555px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(62) {
  margin-left: 1483px;
  margin-top: 806px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(63) {
  margin-left: 2121px;
  margin-top: 57px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(64) {
  margin-left: 2753px;
  margin-top: 799px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(65) {
  margin-left: 553px;
  margin-top: 130px;
  -webkit-animation: flash 5s linear infinite;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(66) {
  margin-left: 3219px;
  margin-top: 686px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(67) {
  margin-left: 140px;
  margin-top: 204px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(68) {
  margin-left: 1498px;
  margin-top: 739px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(69) {
  margin-left: 3444px;
  margin-top: 393px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(70) {
  margin-left: 2224px;
  margin-top: 106px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(71) {
  margin-left: 278px;
  margin-top: 112px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(72) {
  margin-left: 947px;
  margin-top: 227px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(73) {
  margin-left: 1925px;
  margin-top: 484px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(74) {
  margin-left: 1843px;
  margin-top: 847px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(75) {
  margin-left: 3242px;
  margin-top: 778px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(76) {
  margin-left: 2676px;
  margin-top: 67px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(77) {
  margin-left: 613px;
  margin-top: 7px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(78) {
  margin-left: 1927px;
  margin-top: 718px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(79) {
  margin-left: 2871px;
  margin-top: 649px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(80) {
  margin-left: 2775px;
  margin-top: 154px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(81) {
  margin-left: 743px;
  margin-top: 760px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(82) {
  margin-left: 1957px;
  margin-top: 238px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(83) {
  margin-left: 3857px;
  margin-top: 453px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(84) {
  margin-left: 206px;
  margin-top: 887px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(85) {
  margin-left: 3153px;
  margin-top: 369px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(86) {
  margin-left: 1720px;
  margin-top: 245px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(87) {
  margin-left: 655px;
  margin-top: 817px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(88) {
  margin-left: 463px;
  margin-top: 297px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(89) {
  margin-left: 3778px;
  margin-top: 156px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(90) {
  margin-left: 3947px;
  margin-top: 688px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(91) {
  margin-left: 451px;
  margin-top: 211px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(92) {
  margin-left: 756px;
  margin-top: 83px;
  -webkit-animation: flash 5s linear infinite;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(93) {
  margin-left: 581px;
  margin-top: 183px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(94) {
  margin-left: 1993px;
  margin-top: 100px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(95) {
  margin-left: 1737px;
  margin-top: 133px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(96) {
  margin-left: 2867px;
  margin-top: 299px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(97) {
  margin-left: 751px;
  margin-top: 547px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(98) {
  margin-left: 1657px;
  margin-top: 468px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(99) {
  margin-left: 3982px;
  margin-top: 297px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(100) {
  margin-left: 3641px;
  margin-top: 264px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(101) {
  margin-left: 2154px;
  margin-top: 696px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(102) {
  margin-left: 1604px;
  margin-top: 343px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(103) {
  margin-left: 3343px;
  margin-top: 814px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(104) {
  margin-left: 2986px;
  margin-top: 343px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(105) {
  margin-left: 756px;
  margin-top: 348px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(106) {
  margin-left: 2698px;
  margin-top: 516px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(107) {
  margin-left: 3659px;
  margin-top: 277px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(108) {
  margin-left: 1644px;
  margin-top: 3px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(109) {
  margin-left: 1142px;
  margin-top: 863px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(110) {
  margin-left: 1035px;
  margin-top: 63px;
  -webkit-animation: flash 5s linear infinite;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(111) {
  margin-left: 2304px;
  margin-top: 500px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(112) {
  margin-left: 954px;
  margin-top: 728px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(113) {
  margin-left: 1781px;
  margin-top: 49px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(114) {
  margin-left: 654px;
  margin-top: 298px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(115) {
  margin-left: 3563px;
  margin-top: 368px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(116) {
  margin-left: 1675px;
  margin-top: 860px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(117) {
  margin-left: 1387px;
  margin-top: 339px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(118) {
  margin-left: 3791px;
  margin-top: 238px;
  -webkit-animation: flash 5s linear infinite;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(119) {
  margin-left: 3260px;
  margin-top: 349px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(120) {
  margin-left: 3058px;
  margin-top: 854px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(121) {
  margin-left: 3647px;
  margin-top: 818px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(122) {
  margin-left: 2833px;
  margin-top: 775px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(123) {
  margin-left: 3719px;
  margin-top: 365px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(124) {
  margin-left: 2156px;
  margin-top: 749px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(125) {
  margin-left: 2336px;
  margin-top: 749px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(126) {
  margin-left: 2732px;
  margin-top: 805px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(127) {
  margin-left: 1014px;
  margin-top: 710px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(128) {
  margin-left: 2331px;
  margin-top: 392px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(129) {
  margin-left: 1853px;
  margin-top: 155px;
  -webkit-animation: flash 5s linear infinite;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(130) {
  margin-left: 1987px;
  margin-top: 890px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(131) {
  margin-left: 3222px;
  margin-top: 570px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(132) {
  margin-left: 3141px;
  margin-top: 56px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(133) {
  margin-left: 1434px;
  margin-top: 27px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(134) {
  margin-left: 2253px;
  margin-top: 209px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(135) {
  margin-left: 51px;
  margin-top: 192px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(136) {
  margin-left: 1237px;
  margin-top: 372px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(137) {
  margin-left: 3294px;
  margin-top: 570px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(138) {
  margin-left: 3260px;
  margin-top: 137px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(139) {
  margin-left: 1073px;
  margin-top: 393px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(140) {
  margin-left: 2260px;
  margin-top: 114px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(141) {
  margin-left: 271px;
  margin-top: 570px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(142) {
  margin-left: 783px;
  margin-top: 272px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(143) {
  margin-left: 3965px;
  margin-top: 747px;
  -webkit-animation: flash 5s linear infinite;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(144) {
  margin-left: 32px;
  margin-top: 527px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(145) {
  margin-left: 3753px;
  margin-top: 90px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(146) {
  margin-left: 1123px;
  margin-top: 387px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(147) {
  margin-left: 1625px;
  margin-top: 707px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(148) {
  margin-left: 3358px;
  margin-top: 228px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(149) {
  margin-left: 685px;
  margin-top: 271px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(150) {
  margin-left: 2260px;
  margin-top: 22px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(151) {
  margin-left: 3628px;
  margin-top: 799px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(152) {
  margin-left: 946px;
  margin-top: 724px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(153) {
  margin-left: 264px;
  margin-top: 798px;
  -webkit-animation: flash 5s linear infinite;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(154) {
  margin-left: 1756px;
  margin-top: 485px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(155) {
  margin-left: 276px;
  margin-top: 550px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(156) {
  margin-left: 1180px;
  margin-top: 612px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(157) {
  margin-left: 82px;
  margin-top: 201px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(158) {
  margin-left: 3846px;
  margin-top: 569px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(159) {
  margin-left: 2761px;
  margin-top: 344px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(160) {
  margin-left: 1657px;
  margin-top: 272px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(161) {
  margin-left: 1289px;
  margin-top: 151px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(162) {
  margin-left: 3803px;
  margin-top: 320px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(163) {
  margin-left: 89px;
  margin-top: 548px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(164) {
  margin-left: 3533px;
  margin-top: 92px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(165) {
  margin-left: 2153px;
  margin-top: 183px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(166) {
  margin-left: 843px;
  margin-top: 811px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(167) {
  margin-left: 1650px;
  margin-top: 483px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(168) {
  margin-left: 1338px;
  margin-top: 482px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(169) {
  margin-left: 1175px;
  margin-top: 563px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(170) {
  margin-left: 1111px;
  margin-top: 573px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(171) {
  margin-left: 2758px;
  margin-top: 533px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(172) {
  margin-left: 474px;
  margin-top: 11px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(173) {
  margin-left: 3510px;
  margin-top: 357px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(174) {
  margin-left: 209px;
  margin-top: 260px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(175) {
  margin-left: 3947px;
  margin-top: 211px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(176) {
  margin-left: 1236px;
  margin-top: 584px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(177) {
  margin-left: 3582px;
  margin-top: 137px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(178) {
  margin-left: 843px;
  margin-top: 440px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(179) {
  margin-left: 2574px;
  margin-top: 344px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(180) {
  margin-left: 1944px;
  margin-top: 729px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(181) {
  margin-left: 340px;
  margin-top: 560px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(182) {
  margin-left: 848px;
  margin-top: 746px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(183) {
  margin-left: 322px;
  margin-top: 602px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(184) {
  margin-left: 3776px;
  margin-top: 185px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(185) {
  margin-left: 1647px;
  margin-top: 487px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(186) {
  margin-left: 793px;
  margin-top: 85px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(187) {
  margin-left: 323px;
  margin-top: 448px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(188) {
  margin-left: 2540px;
  margin-top: 84px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(189) {
  margin-left: 3810px;
  margin-top: 828px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(190) {
  margin-left: 415px;
  margin-top: 892px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(191) {
  margin-left: 1068px;
  margin-top: 839px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(192) {
  margin-left: 598px;
  margin-top: 738px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(193) {
  margin-left: 1654px;
  margin-top: 634px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(194) {
  margin-left: 172px;
  margin-top: 287px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(195) {
  margin-left: 3747px;
  margin-top: 644px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(196) {
  margin-left: 890px;
  margin-top: 658px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(197) {
  margin-left: 2079px;
  margin-top: 88px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(198) {
  margin-left: 2689px;
  margin-top: 121px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(199) {
  margin-left: 2981px;
  margin-top: 559px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(200) {
  margin-left: 2171px;
  margin-top: 548px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(201) {
  margin-left: 1240px;
  margin-top: 592px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(202) {
  margin-left: 1967px;
  margin-top: 109px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(203) {
  margin-left: 489px;
  margin-top: 212px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(204) {
  margin-left: 1017px;
  margin-top: 110px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(205) {
  margin-left: 2518px;
  margin-top: 210px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(206) {
  margin-left: 743px;
  margin-top: 21px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(207) {
  margin-left: 2751px;
  margin-top: 103px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(208) {
  margin-left: 3688px;
  margin-top: 578px;
  -webkit-animation: flash 5s linear infinite;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(209) {
  margin-left: 545px;
  margin-top: 212px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(210) {
  margin-left: 1696px;
  margin-top: 727px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(211) {
  margin-left: 3372px;
  margin-top: 628px;
  -webkit-animation: flash 5s linear infinite;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(212) {
  margin-left: 893px;
  margin-top: 718px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(213) {
  margin-left: 3550px;
  margin-top: 150px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(214) {
  margin-left: 539px;
  margin-top: 134px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(215) {
  margin-left: 1525px;
  margin-top: 320px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(216) {
  margin-left: 1113px;
  margin-top: 93px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(217) {
  margin-left: 507px;
  margin-top: 231px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(218) {
  margin-left: 1481px;
  margin-top: 360px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(219) {
  margin-left: 2141px;
  margin-top: 765px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(220) {
  margin-left: 1647px;
  margin-top: 294px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(221) {
  margin-left: 1298px;
  margin-top: 40px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(222) {
  margin-left: 3899px;
  margin-top: 124px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(223) {
  margin-left: 484px;
  margin-top: 804px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(224) {
  margin-left: 1270px;
  margin-top: 366px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(225) {
  margin-left: 899px;
  margin-top: 342px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(226) {
  margin-left: 793px;
  margin-top: 744px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(227) {
  margin-left: 2612px;
  margin-top: 682px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(228) {
  margin-left: 3974px;
  margin-top: 23px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(229) {
  margin-left: 1448px;
  margin-top: 411px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(230) {
  margin-left: 3874px;
  margin-top: 627px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(231) {
  margin-left: 3773px;
  margin-top: 668px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(232) {
  margin-left: 2976px;
  margin-top: 865px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(233) {
  margin-left: 1091px;
  margin-top: 515px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(234) {
  margin-left: 1057px;
  margin-top: 891px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(235) {
  margin-left: 520px;
  margin-top: 525px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(236) {
  margin-left: 1228px;
  margin-top: 707px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(237) {
  margin-left: 2690px;
  margin-top: 285px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(238) {
  margin-left: 3624px;
  margin-top: 784px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(239) {
  margin-left: 3942px;
  margin-top: 453px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(240) {
  margin-left: 2426px;
  margin-top: 491px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(241) {
  margin-left: 2950px;
  margin-top: 407px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(242) {
  margin-left: 2732px;
  margin-top: 561px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(243) {
  margin-left: 560px;
  margin-top: 740px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(244) {
  margin-left: 1767px;
  margin-top: 40px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(245) {
  margin-left: 2535px;
  margin-top: 454px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(246) {
  margin-left: 3159px;
  margin-top: 678px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(247) {
  margin-left: 1844px;
  margin-top: 490px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(248) {
  margin-left: 37px;
  margin-top: 103px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(249) {
  margin-left: 2668px;
  margin-top: 827px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(250) {
  margin-left: 3222px;
  margin-top: 80px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(251) {
  margin-left: 3760px;
  margin-top: 442px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(252) {
  margin-left: 2283px;
  margin-top: 793px;
  -webkit-animation: flash 5s linear infinite;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(253) {
  margin-left: 509px;
  margin-top: 742px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(254) {
  margin-left: 3716px;
  margin-top: 750px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(255) {
  margin-left: 3942px;
  margin-top: 604px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(256) {
  margin-left: 2160px;
  margin-top: 720px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(257) {
  margin-left: 3496px;
  margin-top: 222px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(258) {
  margin-left: 932px;
  margin-top: 563px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(259) {
  margin-left: 2685px;
  margin-top: 69px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(260) {
  margin-left: 220px;
  margin-top: 238px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(261) {
  margin-left: 967px;
  margin-top: 465px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(262) {
  margin-left: 1006px;
  margin-top: 762px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(263) {
  margin-left: 2057px;
  margin-top: 848px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(264) {
  margin-left: 366px;
  margin-top: 499px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(265) {
  margin-left: 3534px;
  margin-top: 368px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(266) {
  margin-left: 2772px;
  margin-top: 111px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(267) {
  margin-left: 3384px;
  margin-top: 844px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(268) {
  margin-left: 26px;
  margin-top: 881px;
  -webkit-animation: flash 5s linear infinite;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(269) {
  margin-left: 351px;
  margin-top: 69px;
  -webkit-animation: flash 10s linear infinite;
  animation: flash 10s linear infinite;
}

.star:nth-of-type(270) {
  margin-left: 3237px;
  margin-top: 171px;
  -webkit-animation: flash 5s linear infinite;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(271) {
  margin-left: 1049px;
  margin-top: 467px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(272) {
  margin-left: 1295px;
  margin-top: 449px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(273) {
  margin-left: 2122px;
  margin-top: 320px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(274) {
  margin-left: 2760px;
  margin-top: 700px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(275) {
  margin-left: 3652px;
  margin-top: 405px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(276) {
  margin-left: 3660px;
  margin-top: 40px;
  -webkit-animation: flash 8s linear infinite;
  animation: flash 8s linear infinite;
}

.star:nth-of-type(277) {
  margin-left: 2177px;
  margin-top: 746px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(278) {
  margin-left: 2590px;
  margin-top: 663px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(279) {
  margin-left: 3471px;
  margin-top: 556px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(280) {
  margin-left: 2552px;
  margin-top: 385px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(281) {
  margin-left: 3167px;
  margin-top: 891px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(282) {
  margin-left: 2152px;
  margin-top: 347px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(283) {
  margin-left: 505px;
  margin-top: 651px;
  -webkit-animation: flash 5s linear infinite;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(284) {
  margin-left: 2267px;
  margin-top: 397px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(285) {
  margin-left: 3113px;
  margin-top: 475px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(286) {
  margin-left: 2702px;
  margin-top: 770px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

.star:nth-of-type(287) {
  margin-left: 3202px;
  margin-top: 93px;
  -webkit-animation: flash 5s linear infinite;
  animation: flash 5s linear infinite;
}

.star:nth-of-type(288) {
  margin-left: 534px;
  margin-top: 707px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(289) {
  margin-left: 1162px;
  margin-top: 227px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(290) {
  margin-left: 943px;
  margin-top: 73px;
  -webkit-animation: flash 1s linear infinite;
  animation: flash 1s linear infinite;
}

.star:nth-of-type(291) {
  margin-left: 962px;
  margin-top: 561px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(292) {
  margin-left: 3528px;
  margin-top: 623px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(293) {
  margin-left: 3611px;
  margin-top: 641px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(294) {
  margin-left: 2589px;
  margin-top: 419px;
  -webkit-animation: flash 7s linear infinite;
  animation: flash 7s linear infinite;
}

.star:nth-of-type(295) {
  margin-left: 1924px;
  margin-top: 310px;
  -webkit-animation: flash 6s linear infinite;
  animation: flash 6s linear infinite;
}

.star:nth-of-type(296) {
  margin-left: 1411px;
  margin-top: 896px;
  -webkit-animation: flash 4s linear infinite;
  animation: flash 4s linear infinite;
}

.star:nth-of-type(297) {
  margin-left: 1886px;
  margin-top: 436px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(298) {
  margin-left: 1859px;
  margin-top: 517px;
  -webkit-animation: flash 3s linear infinite;
  animation: flash 3s linear infinite;
}

.star:nth-of-type(299) {
  margin-left: 786px;
  margin-top: 562px;
  -webkit-animation: flash 9s linear infinite;
  animation: flash 9s linear infinite;
}

.star:nth-of-type(300) {
  margin-left: 758px;
  margin-top: 47px;
  -webkit-animation: flash 2s linear infinite;
  animation: flash 2s linear infinite;
}

@-webkit-keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: rotate(360deg);
  }
}
@keyframes gravity {
  to {
    transform: rotate(360deg);
  }
}
