.logos-slider {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
}

.logos-slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    animation: slide 15s linear infinite;
}

.logos-slider-container img {
  width:150px;
 max-width: 150px;
}

@keyframes slide {
  0% {
    transform: translate3d(0,0,0)
  }
  100% {
    transform: translate3d(-100%,0,0)
  }
}

.cardClient {
  position: relative;
  background: white;
  padding: 2rem 1rem;
  max-width: 99vw;
  margin: 0 auto;
  box-shadow: 0px 3px 8px rgba(28, 81, 121, 0.075), 0px 3px 12px rgba(18, 67, 105, 0.096)
}


